<md-tab-group>
    <md-tab label="Översikt">
        <perfect-scrollbar class="overflow-container">
            <div class="text-padding">
                <p class="mb-none">IDAG</p>
                <p class="h1">
                    <span>{{ todayDay }}</span> <br/>
                    <span>{{ todayDate }}</span><span style="font-size: 18px; vertical-align: top;">{{ todayDateSuffix }}</span><span>{{ todayMonth }}</span>
                </p>
            </div>

            <md-divider></md-divider>

            <md-nav-list>
              <h3 md-subheader>Administratörer</h3>
                <a href="javascript:;" md-list-item>
                    <img md-list-avatar src="assets/img/avatars/noavatar.png">
                    <h3 md-line> Ulrika Eriksson </h3>
                    <p md-line>
                        <md-icon class="icon-fs-16 text-green">check_circle</md-icon><span> Online </span>
                    </p>
                </a>
                <a href="javascript:;" md-list-item>
                    <img md-list-avatar src="assets/img/avatars/noavatar.png">
                    <h3 md-line> Håkan Hellström </h3>
                    <p md-line>
                        <md-icon class="icon-fs-16 text-green">check_circle</md-icon><span> Online </span>
                    </p>
                </a>
                <h3 md-subheader>Försäljning</h3>
                <a href="javascript:;" md-list-item>
                    <img md-list-avatar src="assets/img/avatars/noavatar.png">
                    <h3 md-line> Lena Nilsson </h3>
                    <p md-line>
                        <md-icon class="icon-fs-16 text-green">check_circle</md-icon><span> Online </span>
                    </p>
                </a>
                <a href="javascript:;" md-list-item>
                    <img md-list-avatar src="assets/img/avatars/noavatar.png">
                    <h3 md-line> Jenny Boston </h3>
                    <p md-line>
                        <md-icon class="icon-fs-16 text-green">check_circle</md-icon><span> Online </span>
                    </p>
                </a>
                <h3 md-subheader>Ekonomi</h3>
                <a href="javascript:;" md-list-item>
                    <img md-list-avatar src="assets/img/avatars/noavatar.png">
                    <h3 md-line> Eva Frick </h3>
                    <p md-line>
                        <md-icon class="icon-fs-16 text-red">cancel</md-icon><span> Offline </span>
                    </p>
                </a>
                <h3 md-subheader>Försäljning</h3>
                 <a href="javascript:;" md-list-item>
                    <img md-list-avatar src="assets/img/avatars/noavatar.png">
                    <h3 md-line> Inger Nilsson </h3>
                    <p md-line>
                        <md-icon class="icon-fs-16 text-green">check_circle</md-icon><span> Online </span>
                    </p>
                </a>
                <a href="javascript:;" md-list-item>
                    <img md-list-avatar src="assets/img/avatars/noavatar.png">
                    <h3 md-line> Christoffer Edh </h3>
                    <p md-line>
                        <md-icon class="icon-fs-16 text-green">check_circle</md-icon><span> Online </span>
                    </p>
                </a>
                <a href="javascript:;" md-list-item>
                    <img md-list-avatar src="assets/img/avatars/noavatar.png">
                    <h3 md-line> Philip Andersson </h3>
                    <p md-line>
                        <md-icon class="icon-fs-16 text-red">cancel</md-icon><span> Offline </span>
                    </p>
                </a>
            </md-nav-list>

            <!--<md-nav-list>
                <h3 md-subheader>Upcoming Events</h3>
                <a href="javascript:;" md-list-item>
                    <h4 md-line>Business Meeting</h4>
                    <p md-line>In 16 Minutes, Meeting Room</p>
                </a>
                <a href="javascript:;" md-list-item>
                    <h4 md-line>Ask for Vacation</h4>
                    <p md-line>12:00 PM</p>
                </a>
                <a href="javascript:;" md-list-item>
                    <h4 md-line>Dinner with Sophie</h4>
                    <p md-line>18:30 PM</p>
                </a>
                <a href="javascript:;" md-list-item>
                    <h4 md-line>Deadline for Project X</h4>
                    <p md-line>21:00 PM</p>
                </a>
                <md-divider></md-divider>
                <h3 md-subheader>TODO-List</h3>
                <a md-list-item>
                    <h4 md-line>Invite Jack to play golf</h4>
                    <p md-line>Added: 6 hours ago</p>
                </a>
                <a md-list-item>
                    <h4 md-line>Get to know Angular more</h4>
                    <p md-line>Added: 2 days ago</p>
                </a>
                <a md-list-item>
                    <h4 md-line>Configure that new router</h4>
                    <p md-line>Added: 5 days ago</p>
                </a>
                <md-divider></md-divider>
                <h3 md-subheader>Server Statistics</h3>
                <a md-list-item>
                    <p md-line>CPU Load (71% / 100%)</p>
                    <p md-line>
                        <md-progress-bar mode="determinate" color="primary" value="71"></md-progress-bar>
                    </p>
                </a>
                <a md-list-item>
                    <p md-line>RAM Usage (6,175 MB / 16,384 MB)</p>
                    <p md-line>
                        <md-progress-bar mode="determinate" color="accent" value="34"></md-progress-bar>
                    </p>
                </a>
                <a md-list-item>
                    <p md-line>CPU Temp (43° / 80°)</p>
                    <p md-line>
                        <md-progress-bar mode="determinate" color="warn" value="54"></md-progress-bar>
                    </p>
                </a>
            </md-nav-list>-->
        </perfect-scrollbar>
    </md-tab>
    <md-tab label="Statistik">
        <perfect-scrollbar class="overflow-container">
            <md-nav-list>
                <h3 md-subheader>Ärende Statistik</h3>
                <a md-list-item>
                    <p md-line>Klarmarkerade (71% / 100%)</p>
                    <p md-line>
                        <md-progress-bar mode="determinate" color="primary" value="71"></md-progress-bar>
                    </p>
                </a>
                <a md-list-item>
                    <p md-line>Ej Tilldelade (34% / 100%)</p>
                    <p md-line>
                        <md-progress-bar mode="determinate" color="accent" value="34"></md-progress-bar>
                    </p>
                </a>
                <a md-list-item>
                    <p md-line>Prioriterade (54% / 100%)</p>
                    <p md-line>
                        <md-progress-bar mode="determinate" color="warn" value="54"></md-progress-bar>
                    </p>
                </a>
            </md-nav-list>
        </perfect-scrollbar>
    </md-tab>
</md-tab-group>
