@import '../../styles';

md-toolbar {
  background-color: $white !important;
  padding: 0 25px !important;
}

/* LOGIN-BOX */
md-card {
  margin-top: 5%;
}

.login-bg-gray {
  background-color: $dark-gray;
}

.login-bg-yellow {
  background-color: $yellow;
}

.login-btn {
  margin: 40px 0 60px 0;
  color: #fff !important;
  font-size: 20px;
  padding: 5px;
}

md-checkbox {
  margin-top: 5px !important;
}

/* TYPOGRAPHY */
h1 {
  color: #fff;
  font-weight: 300;
}

h3 {
  color: #fff;
  font-weight: 200;
}

/* IMAGES */
#bg {
  position: fixed;
  top: -36%;
  left: -50%;
  width: 200%;
  height: 200%;
}
#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}
