<div id="bg">
  <img class="" src="/assets/img/login/login-bg.png">
</div>
<md-toolbar color="primary">
  <img src="../src/assets/img/logo/logo_topmenu.png">
</md-toolbar>

<div class="container" fxFlexfill [fxLayout]="column" fxLayoutAlign="center center">
  <md-card class="p-none" fxFlex.xs="90" fxFlex.sm="50" fxFlex.md="35" fxFlex.lg="30" fxFlex.xl="20">
    <div class="login-bg-gray">
      <div fxFlexfill [fxLayout]="row" fxLayoutAlign="center center">
        <h1>LOGGA IN</h1>
      </div>
    </div>
    <div class="login-bg-yellow">
      <div fxFlexfill [fxLayout]="row" fxLayoutAlign="center center">
        <h3 class="m-md-imp">ÄRENDEHANTERING</h3>
      </div>
    </div>

    <md-card-content class="mt-md p-lg">
      <div fxLayout="column" fxLayoutGap="20">
        <md-input-container>
          <input mdInput placeholder="Email">
        </md-input-container>
        <md-input-container>
          <input mdInput placeholder="Lösenord" type="password">
        </md-input-container>
        <div class="mt-md" fxLayout="row">
          <div class="mt-xs-imp" fxFlex="50%">
              <md-checkbox name="componentProperty" [(ngModel)]="componentProperty" color="primary">Kom ihåg mig</md-checkbox>
            </div>
            <div fxFlex="50%" fxLayoutAlign="end">
              <button md-button (click)="onClick">Glömt lösenordet?</button>
            </div>
          </div>
        </div>
        <div [fxLayout]="row" fxLayoutAlign="center">
          <button class="login-btn" color="primary" fxFlex="80%" md-raised-button (click)="onClick">LOGGA IN</button>
        </div>
    </md-card-content>
  </md-card>
</div>

