<div class="list-container" fxLayout="column">
    <div class="header mat-elevation-z2"></div>
    <div class="container" fxLayout="row">
        <div class="navigation" fxFlex="250px" fxHide="true" fxHide.gt-md="false">

            <div class="title-container pl-none pr-none">
                <md-icon class="text-white icon-fs-34">group</md-icon>
                <span class="title">Användare</span>
            </div>



            <md-nav-list class="nav-list">
                <div class="compose-container">
                    <button (click)="openComposeDialog()" class="compose" md-raised-button color="primary">
                    <md-icon class="text-white">person_add</md-icon>
                    <span class="text-white">Ny Användare</span>
                  </button>
                </div>
                <h3 md-subheader>Roller</h3>
                <a class="nav-item mt0" (click)="setShownMailsByGroup('primary')" [class.active]="shownMailsTypeGroup == 'primary'" md-list-item>
                    <h3 class="nav-title" md-line>
                        <md-icon class="icon text-red">fiber_manual_record</md-icon>
                        <span class="text">Administratör</span>
                    </h3>
                </a>
                <a class="nav-item" (click)="setShownMailsByGroup('social')" [class.active]="shownMailsTypeGroup == 'social'" md-list-item>
                    <h3 class="nav-title" md-line>
                        <md-icon class="icon text-purple">fiber_manual_record</md-icon>
                        <span class="text">Handläggare</span>
                    </h3>
                </a>
                <a class="nav-item" (click)="setShownMailsByGroup('promotions')" [class.active]="shownMailsTypeGroup == 'promotions'" md-list-item>
                    <h3 class="nav-title" md-line>
                        <md-icon class="icon text-green">fiber_manual_record</md-icon>
                        <span class="text">Beställare</span>
                    </h3>
                </a>
                <a class="nav-item" (click)="setShownMailsToStarred()" [class.active]="shownMailsTypeGroup == 'starred'" md-list-item>
                    <h3 class="nav-title" md-line>
                        <md-icon class="icon text-blue">fiber_manual_record</md-icon>
                        <span class="text">Ext. Beställare</span>
                    </h3>
                </a>
                <a class="nav-item" (click)="setShownMailsByType('sent')" [class.active]="shownMailsTypeGroup == 'sent'" md-list-item>
                    <h3 class="nav-title" md-line>
                        <md-icon class="icon text-yellow">fiber_manual_record</md-icon>
                        <span class="text">Ekonomi</span>
                    </h3>
                </a>
            </md-nav-list>
        </div>

        <div class="content-container" fxFlex fxLayout="column">

            <div class="search mat-elevation-z2" fxLayout="row">
                <div fxLayout="row" fxLayoutAlign="center center">
                    <md-icon>search</md-icon>
                </div>
                <input fxFlex type="search" placeholder="Search...">
            </div>
            <perfect-scrollbar class="overflow-container">
            <md-card class="table-container">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                          <th>Bild</th>
                            <th>Namn</th>
                            <th>E-postadress</th>
                            <th>Telefonnummer</th>
                            <th>Bobutik</th>
                            <th>Systemroll</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of shownUsers">
                          <td>
                              <img md-list-avatar style="width: 50%; border-radius: 100px;" src="assets/img/avatars/noavatar.png">
                          </td>
                            <td>{{ user.fullName }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.phoneNumber }}</td>
                            <td>{{ user.storeName }}</td>
                            <td>{{ user.role }}</td>
                        </tr>
                    </tbody>
                </table>
            </md-card>
            </perfect-scrollbar>
        </div>
    </div>
</div>

<!--<md-menu #mailOptions="mdMenu ">
    <button md-menu-item> <md-icon>markunread_mailbox</md-icon> Mark as unread </button>
    <button md-menu-item> <md-icon>label</md-icon> Labels </button>
    <md-divider></md-divider>
    <button md-menu-item> <md-icon>delete</md-icon> Delete </button>
</md-menu>-->
