<div class="top-container mat-elevation-z2" fxLayout="column"></div>
<!--<div class="container" fxFlexfill fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="center center">
    <md-card fxFlex="200px">

    </md-card>
    <md-card fxFlex="200px">

    </md-card>
</div>-->

<div class="sf-container">
  <div fxLayout="column" fxFlex fxLayout.gt-sm="row" fxLayoutAlign="center start" fxLayoutGap="2%">
    <md-card class="widget" fxFlex="40%">
      <md-card-title>
        <span color="primary">Välkommen till Kalmar Bobutik</span>
      </md-card-title>
      <md-card-content fxLayout="row">
        <div fxFlex="20">
          <img class="sf-map img-responsive" src="../src/assets/img/start/sf-map.png">
        </div>
        <div fxFlex="80">
          <h4>Vi är kunniga fastighetsmärklare som kan våra områden</h4>
          <p>I Kalmar hittar du en av Svensk Fastighetsförmedlings aldsta bobutiker. Det borgar för kunskap, erfarenhet och
            kompetens.</p>
          <p>Läget är centralt och lättillgängligt mitt på Kvarnholmen. Här jobbar ett sammansvetsat team, mäklare och assistenter,
            i olika åldrar och med olika erfarenhet och bakgrund.</p>
        </div>
      </md-card-content>
    </md-card>
    <md-card class="widget" fxFlex="40%">
      <md-card-title>Changelog</md-card-title>
      <md-card-content fxLayout="column">
        <div fxLayout="row">
      <div fxFlex="20" fxLayoutAlign="center center">
         <md-icon class="icon-fs-40 text-green">assignment_turned_in</md-icon>
      </div>
      <div fxFlex="80">
          <h4 class="title mb-sm">Klarmarkerat</h4>
          <p>Ärende med id: <span class="text-yellow">B43534</span> är klarmarkerat.</p>
      </div>
      </div>
      <md-divider></md-divider>
      <div fxLayout="row">
       <div fxFlex="20" fxLayoutAlign="center center">
         <md-icon class="icon-fs-40 text-blue">assignment_ind</md-icon>
      </div>
      <div fxFlex="80">
          <h4 class="title mb-sm mt-sm">Ulrika Eriksson</h4>
          <p>Användare med namn: <span class="text-yellow">Ulrika Eriksson</span> har skapats.</p>
      </div>
      </div>
      <md-divider></md-divider>
            <div fxLayout="row">
       <div fxFlex="20" fxLayoutAlign="center center">
         <md-icon class="icon-fs-40 text-red">assignment_late</md-icon>
      </div>
      <div fxFlex="80">
          <h4 class="title mb-sm mt-sm">Prioriterat ärende</h4>
          <p>Ärende med id: <span class="text-yellow">KL654</span> är har satts som prioriterat ärende.</p>
      </div>
      </div>
      </md-card-content>
    </md-card>
  </div>
</div>
